.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table__header {
  width: 150px;
}

.table__headers {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.table__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 1000px) {
  .table {
    display: flex;
    flex-direction: row;
  }
  .table__headers {
    flex-direction: column;
  }
  .table__header {
    width: 100px;
  }
  .table__body {
    flex-direction: row;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .table__header {
    width: auto;
  }
  .table__body {
    gap: 0px;
  }
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 700px;
  gap: 15px;
}

@media (max-width: 800px) {
  .search {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}

.button {
  padding: 10px 15px;
  background: none;
  color: teal;
  border: 1px solid teal;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 15px;
}

.pagination__controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
