.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 15px;
  padding: 20px;
}

.link {
  align-self: flex-end;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  width: 500px;
  gap: 15px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list__item {
  padding: 15px;
  border: 1px solid teal;
}

.input {
  width: 100%;
  border: 1px solid teal;
  padding: 10px 15px;
  margin-top: 15px;
}

.button {
  padding: 10px 15px;
  background: none;
  color: teal;
  border: 1px solid teal;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.pagination__controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
