@media (max-width: 1000px) {
  .table {
    display: flex;
    flex-direction: row;
  }
  .table__headers {
    flex-direction: column;
  }
  .table__header {
    width: 100px;
  }
  .table__body {
    flex-direction: row;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .table__header {
    width: auto;
  }
  .table__body {
    gap: 0px;
  }
}

@media (max-width: 800px) {
  .search {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}
